In [1]:
import re

txt = "Hello Me Neko Kaitoo"

#Find all lower case characters alphabetically between "a" and "m":

x = re.findall("[a-m]", txt)
print(x)

['e', 'l', 'l', 'e', 'e', 'k', 'a', 'i']

In [4]:
import re

txt = "okie tell me how many numbers i have 222010058"

#Find all digit characters:

x = re.findall("\\d", txt)
print(x)

['2', '2', '2', '0', '1', '0', '0', '5', '8']

In [9]:
import re

txt = "maliha binta sumiya"

#Search for a sequence that starts with "ma", followed by two (any) characters, and an "a":

x = re.findall("ma...a", txt)
print(x)

['maliha']

In [22]:
import re

txt = "kami ruhan"


# start ^ and end $

x = re.findall("^kami", txt)
y = re.findall("ruhan$", txt)
print(x)
print(y)

['kami']
['ruhan']

In [ ]:
import re

txt =  "Maliha"

#exclude 'a' and 'h'

print(re.findall("[^ah]", txt))

['M', 'l', 'i']

In [ ]:
import re

txt =  "Maliha 222010428"

# Find all of the digits 4, 2, and 8
print(re.findall("[4]", txt))

# [1st-2nd][1st-2nd] = 1st1st - 2nd2nd 00 - 22
print(re.findall("[0-5][0-0]", txt))

#remove digits
print(re.sub(r"\d", "", txt))

['4']
['20', '10']
Maliha